*{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo p{
    margin-top: 4rem;
    color: green;
    font-size: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.Opcion1{
    border: 2px solid blue;
    width: 20rem;
}

.Opcion2{
    width: 10rem;
}

.Opcion3{
    width: 10rem;
}

.Opcion4{
    width: 10rem;
}

.Opcion5{
    width: 10rem;
}

.opcion a{
    text-decoration: none;
    color: #04773B;
}

.opcion a:hover{
    border: 2px solid #0096c7;
}

input{
    border: none;
    background-color: #00a8e8;
    border-radius: 50px;
}
.valor1{
    margin-top: 5px;
    color: white;
}
.valor2{
    margin-top: 6px;
    color: white;
}
.valor3{
    margin-top: 6px;
    color: white;
}
.valor4{
    margin-top: 24px;
    color: white;
}
.valor5{
    position: absolute;
    margin-top: -13px;
    margin-left: -40px;
    color: white;
}
.valor6{
    color: white;
    position: absolute;
    margin-top: 16px;
    margin-left: -40px;
}
.valor7{
    color: white;
    position: absolute;
    margin-top: -1px;
    margin-left: -40px;
}
.valor8{
    color: white;
    position: absolute;
    margin-top: -3px;
    margin-left: -40px;
}
.valor9{
    color: white;
    margin-top: 37px;
}
.valor10{
    color: white;
    margin-top: 20px;
}
.valor11{
    color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: -40px;
}
.valor12{
    color: white;
    margin-top: 29px;
}
.valor13{
    color: white;
    position: absolute;
    margin-top: 12px;
    margin-left: -40px;
}
.valor14{
    color: white;
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;
}
.valor15{
    color: white;
    margin-top: 14px;
}

img{
    width: 100px;
}

.contenedor1{
    position: absolute;
    margin-left: 30rem;
    margin-top: -20rem;
    border: 2px solid #04773B;
    border-radius: 30px;
    width: 60rem;
    height: 76rem;
}

.contenedor2{
    display: flex;
    width: 50rem;
    height: 20rem;
    text-align: center;
    margin: 20px auto;
    margin-top: 2rem;
}

.contenedor2 p{
    margin-top: 15px;
}

.p1{
    color: rgb(0, 110, 255);
    display: flex;
    margin-left: 8rem;
    font-size: 20px;
}

.producto1{
    border: 1px solid green;
    border-radius: 30px;
    width: 40rem;
    height: 20.5rem;
    margin-right: 10px;
}

.producto2{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
    height: 20.5rem;
}

.producto2 img{
    width: 110px;
}

.producto3{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
    height: 20.5rem;
}

.producto3 img{
    width: 106px;
}

.producto4{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
    height: 20.5rem;
}

.producto4 img{
    width: 114px;
}

.producto5{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
    height: 20.5rem;
}
.producto1-2{
    border: 1px solid green;
    border-radius: 30px;
    width: 40rem;
    margin-right: 10px;
}

.producto2-2{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto3-2{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto4-2{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto5-2{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.contenedor3{
    display: flex;
    width: 50rem;
    text-align: center;
    margin: 10px auto;
    height: 25rem;
}

.producto1-3{
    border: 1px solid green;
    border-radius: 30px;
    width: 40rem;
    margin-right: 10px;
    margin-top: 10px;
}

.producto2-3{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto2-3 img{
    width: 145px;
}

.producto3-3{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto4-3{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto5-3{
    border: 1px solid green;
    border-radius: 30px;
    margin-right: 10px;
    width: 40rem;
}

.producto5-3 img{
    width: 112px;
}
